{
  "openapi": "3.1.0",
  "info": {
    "title": "pharmacopeia API",
    "version": "v1",
    "description": "Developer-first reference API for medications. Educational / informational use only."
  },
  "servers": [
    {
      "url": "https://pharmacopeia.dev"
    }
  ],
  "paths": {
    "/api/v1/drugs": {
      "get": {
        "operationId": "listDrugs",
        "summary": "List drugs (paginated), optionally filtered by class or ingredient.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DrugListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Page size (1–200, default 50).",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Zero-based offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "class",
            "in": "query",
            "required": false,
            "description": "Filter to drugs in this class slug.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ingredient",
            "in": "query",
            "required": false,
            "description": "Filter to drugs containing this ingredient slug.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/drug/{slug}": {
      "get": {
        "operationId": "getDrug",
        "summary": "Fetch a single drug by slug.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Drug"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/drug/{slug}/interactions": {
      "get": {
        "operationId": "getDrugInteractions",
        "summary": "List known interactions for a drug.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DrugInteractionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/drug/{slug}/similar": {
      "get": {
        "operationId": "getSimilarDrugs",
        "summary": "Structurally similar drugs (Tanimoto over 2D fingerprints).",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimilarDrugsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/classes": {
      "get": {
        "operationId": "listClasses",
        "summary": "List drug classes (paginated).",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Page size (1–200, default 50).",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Zero-based offset.",
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/api/v1/class/{slug}": {
      "get": {
        "operationId": "getClass",
        "summary": "Fetch a single drug class plus the drugs it contains.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/ingredients": {
      "get": {
        "operationId": "listIngredients",
        "summary": "List active ingredients (paginated).",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IngredientListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Page size (1–200, default 50).",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Zero-based offset.",
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/api/v1/ingredient/{slug}": {
      "get": {
        "operationId": "getIngredient",
        "summary": "Fetch a single ingredient by slug.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ingredient"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/brands": {
      "get": {
        "operationId": "listBrands",
        "summary": "Brand → generic crosswalk for every brand in the dataset.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/stats": {
      "get": {
        "operationId": "getStats",
        "summary": "Dataset counts and version metadata.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Stats"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/search": {
      "get": {
        "operationId": "search",
        "summary": "Full-text search across drugs, classes, and ingredients.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Max results (1–50, default 10).",
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/api/v1/interactions/check": {
      "post": {
        "operationId": "checkInteractions",
        "summary": "Check a set of 2–20 drug slugs for pairwise interactions.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InteractionCheckResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InteractionCheckRequest"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Jurisdiction": {
        "type": "string",
        "enum": [
          "US-FDA",
          "EU-EMA",
          "UK-MHRA",
          "CA-HC"
        ]
      },
      "Severity": {
        "type": "string",
        "enum": [
          "contraindicated",
          "major",
          "moderate",
          "minor",
          "unknown"
        ]
      },
      "DrugClassKind": {
        "type": "string",
        "enum": [
          "atc",
          "moa",
          "epc",
          "pe",
          "pharm",
          "mesh"
        ]
      },
      "Provenance": {
        "type": "object",
        "properties": {
          "sourceUrl": {
            "type": "string",
            "format": "uri"
          },
          "sourceHash": {
            "type": "string",
            "minLength": 1
          },
          "extractedAt": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          },
          "extractor": {
            "type": "string",
            "minLength": 1,
            "pattern": "^[a-z][a-z0-9-]*(@[a-z0-9.-]+)?$"
          },
          "confidence": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          }
        },
        "required": [
          "sourceUrl",
          "sourceHash",
          "extractedAt",
          "extractor",
          "confidence"
        ],
        "additionalProperties": false
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "limit": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991
          },
          "offset": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "total",
          "limit",
          "offset"
        ],
        "additionalProperties": false
      },
      "ApiError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "not_found",
                  "invalid_request",
                  "rate_limited",
                  "internal_error"
                ]
              },
              "message": {
                "type": "string"
              },
              "details": {}
            },
            "required": [
              "code",
              "message"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "error"
        ],
        "additionalProperties": false
      },
      "DrugRef": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string",
            "minLength": 1,
            "pattern": "^[a-z0-9][a-z0-9-]*$"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "slug",
          "name"
        ],
        "additionalProperties": false
      },
      "Indication": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string"
          },
          "icd10": {
            "default": [],
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "text",
          "icd10"
        ],
        "additionalProperties": false
      },
      "Contraindication": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string"
          },
          "severity": {
            "$ref": "#/components/schemas/Severity"
          }
        },
        "required": [
          "text",
          "severity"
        ],
        "additionalProperties": false
      },
      "Dosing": {
        "type": "object",
        "properties": {
          "route": {
            "type": "string",
            "enum": [
              "oral",
              "iv",
              "im",
              "subcutaneous",
              "topical",
              "inhaled",
              "intranasal",
              "rectal",
              "ophthalmic",
              "otic",
              "transdermal",
              "other"
            ]
          },
          "population": {
            "type": "string",
            "enum": [
              "adult",
              "pediatric",
              "geriatric",
              "renal-impairment",
              "hepatic-impairment",
              "pregnancy"
            ]
          },
          "condition": {
            "type": "string"
          },
          "dose": {
            "type": "string"
          },
          "frequency": {
            "type": "string"
          },
          "maxDose": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          }
        },
        "required": [
          "route",
          "population",
          "dose"
        ],
        "additionalProperties": false
      },
      "Pharmacokinetics": {
        "type": "object",
        "properties": {
          "halfLife": {
            "type": "string"
          },
          "tMax": {
            "type": "string"
          },
          "bioavailability": {
            "type": "string"
          },
          "proteinBinding": {
            "type": "string"
          },
          "metabolism": {
            "type": "string"
          },
          "excretion": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "Mechanism": {
        "type": "object",
        "properties": {
          "summary": {
            "type": "string"
          },
          "targets": {
            "default": [],
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "summary",
          "targets"
        ],
        "additionalProperties": false
      },
      "Approval": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
          },
          "applicationNumber": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "NDA",
              "ANDA",
              "BLA",
              "OTC"
            ]
          },
          "sponsor": {
            "type": "string"
          }
        },
        "required": [
          "date",
          "applicationNumber",
          "type"
        ],
        "additionalProperties": false
      },
      "LabelSections": {
        "type": "object",
        "properties": {
          "boxedWarning": {
            "type": "string"
          },
          "dosageAndAdministration": {
            "type": "string"
          },
          "warningsAndPrecautions": {
            "type": "string"
          },
          "adverseReactions": {
            "type": "string"
          },
          "useInSpecificPopulations": {
            "type": "string"
          },
          "overdosage": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "Identifier": {
        "type": "object",
        "properties": {
          "rxcui": {
            "type": "string"
          },
          "ndc": {
            "default": [],
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "atc": {
            "default": [],
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "drugbank": {
            "type": "string"
          },
          "chembl": {
            "type": "string"
          },
          "pubchem": {
            "type": "string"
          },
          "unii": {
            "type": "string"
          }
        },
        "required": [
          "ndc",
          "atc"
        ],
        "additionalProperties": false
      },
      "ChemicalStructure": {
        "type": "object",
        "properties": {
          "smiles": {
            "type": "string",
            "minLength": 1
          },
          "inchiKey": {
            "type": "string"
          },
          "iupacName": {
            "type": "string"
          },
          "pubchemCid": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991
          },
          "structureSvgPath": {
            "type": "string",
            "pattern": "^\\/structures\\/[a-z0-9-]+\\.svg$"
          },
          "provenance": {
            "$ref": "#/components/schemas/Provenance"
          }
        },
        "required": [
          "smiles",
          "structureSvgPath",
          "provenance"
        ],
        "additionalProperties": false
      },
      "DrugClassRef": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string",
            "minLength": 1,
            "pattern": "^[a-z0-9][a-z0-9-]*$"
          },
          "name": {
            "type": "string"
          },
          "kind": {
            "$ref": "#/components/schemas/DrugClassKind"
          },
          "code": {
            "type": "string"
          }
        },
        "required": [
          "slug",
          "name",
          "kind"
        ],
        "additionalProperties": false
      },
      "DrugClassParent": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string",
            "minLength": 1,
            "pattern": "^[a-z0-9][a-z0-9-]*$"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "slug",
          "name"
        ],
        "additionalProperties": false
      },
      "DrugClass": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string",
            "minLength": 1,
            "pattern": "^[a-z0-9][a-z0-9-]*$"
          },
          "name": {
            "type": "string"
          },
          "kind": {
            "$ref": "#/components/schemas/DrugClassKind"
          },
          "code": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "parent": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/DrugClassParent"
              },
              {
                "type": "null"
              }
            ]
          },
          "drugCount": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "provenance": {
            "$ref": "#/components/schemas/Provenance"
          }
        },
        "required": [
          "slug",
          "name",
          "kind",
          "drugCount",
          "provenance"
        ],
        "additionalProperties": false
      },
      "IngredientRef": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string",
            "minLength": 1,
            "pattern": "^[a-z0-9][a-z0-9-]*$"
          },
          "name": {
            "type": "string"
          },
          "strength": {
            "type": "string"
          }
        },
        "required": [
          "slug",
          "name"
        ],
        "additionalProperties": false
      },
      "Ingredient": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string",
            "minLength": 1,
            "pattern": "^[a-z0-9][a-z0-9-]*$"
          },
          "name": {
            "type": "string"
          },
          "synonyms": {
            "default": [],
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "rxcui": {
            "type": "string"
          },
          "unii": {
            "type": "string"
          },
          "smiles": {
            "type": "string"
          },
          "inchikey": {
            "type": "string"
          },
          "molecularFormula": {
            "type": "string"
          },
          "molecularWeight": {
            "type": "number",
            "exclusiveMinimum": 0
          },
          "drugCount": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "provenance": {
            "$ref": "#/components/schemas/Provenance"
          }
        },
        "required": [
          "slug",
          "name",
          "synonyms",
          "drugCount",
          "provenance"
        ],
        "additionalProperties": false
      },
      "DrugSummary": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string",
            "minLength": 1,
            "pattern": "^[a-z0-9][a-z0-9-]*$"
          },
          "name": {
            "type": "string"
          },
          "synonyms": {
            "default": [],
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "jurisdiction": {
            "$ref": "#/components/schemas/Jurisdiction"
          },
          "ingredients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IngredientRef"
            }
          },
          "brands": {
            "default": [],
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "classes": {
            "default": [],
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DrugClassRef"
            }
          },
          "shortDescription": {
            "type": "string"
          }
        },
        "required": [
          "slug",
          "name",
          "synonyms",
          "jurisdiction",
          "ingredients",
          "brands",
          "classes"
        ],
        "additionalProperties": false
      },
      "Drug": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string",
            "minLength": 1,
            "pattern": "^[a-z0-9][a-z0-9-]*$"
          },
          "name": {
            "type": "string"
          },
          "synonyms": {
            "default": [],
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "jurisdiction": {
            "$ref": "#/components/schemas/Jurisdiction"
          },
          "ingredients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IngredientRef"
            }
          },
          "brands": {
            "default": [],
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "classes": {
            "default": [],
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DrugClassRef"
            }
          },
          "shortDescription": {
            "type": "string"
          },
          "mechanism": {
            "$ref": "#/components/schemas/Mechanism"
          },
          "indications": {
            "default": [],
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Indication"
            }
          },
          "contraindications": {
            "default": [],
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Contraindication"
            }
          },
          "dosing": {
            "default": [],
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Dosing"
            }
          },
          "pharmacokinetics": {
            "$ref": "#/components/schemas/Pharmacokinetics"
          },
          "approvalHistory": {
            "default": [],
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Approval"
            }
          },
          "patientSummary": {
            "type": "string"
          },
          "interactionsNarrative": {
            "type": "string"
          },
          "labelSections": {
            "$ref": "#/components/schemas/LabelSections"
          },
          "identifiers": {
            "$ref": "#/components/schemas/Identifier"
          },
          "chemical": {
            "$ref": "#/components/schemas/ChemicalStructure"
          },
          "provenance": {
            "$ref": "#/components/schemas/Provenance"
          }
        },
        "required": [
          "slug",
          "name",
          "synonyms",
          "jurisdiction",
          "ingredients",
          "brands",
          "classes",
          "indications",
          "contraindications",
          "dosing",
          "approvalHistory",
          "identifiers",
          "provenance"
        ],
        "additionalProperties": false
      },
      "Interaction": {
        "type": "object",
        "properties": {
          "drugA": {
            "type": "string",
            "minLength": 1,
            "pattern": "^[a-z0-9][a-z0-9-]*$"
          },
          "drugB": {
            "type": "string",
            "minLength": 1,
            "pattern": "^[a-z0-9][a-z0-9-]*$"
          },
          "severity": {
            "$ref": "#/components/schemas/Severity"
          },
          "mechanism": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "recommendation": {
            "type": "string"
          },
          "evidenceSpan": {
            "type": "string"
          },
          "provenance": {
            "$ref": "#/components/schemas/Provenance"
          }
        },
        "required": [
          "drugA",
          "drugB",
          "severity",
          "description",
          "provenance"
        ],
        "additionalProperties": false
      },
      "InteractionSummary": {
        "type": "object",
        "properties": {
          "contraindicated": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "major": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "moderate": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "minor": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "unknown": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "contraindicated",
          "major",
          "moderate",
          "minor",
          "unknown"
        ],
        "additionalProperties": false
      },
      "InteractionCheckRequest": {
        "type": "object",
        "properties": {
          "drugs": {
            "minItems": 2,
            "maxItems": 20,
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "pattern": "^[a-z0-9][a-z0-9-]*$"
            }
          }
        },
        "required": [
          "drugs"
        ],
        "additionalProperties": false
      },
      "InteractionCheckResponse": {
        "type": "object",
        "properties": {
          "input": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "pattern": "^[a-z0-9][a-z0-9-]*$"
            }
          },
          "pairs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Interaction"
            }
          },
          "summary": {
            "$ref": "#/components/schemas/InteractionSummary"
          }
        },
        "required": [
          "input",
          "pairs",
          "summary"
        ],
        "additionalProperties": false
      },
      "Stats": {
        "type": "object",
        "properties": {
          "drugs": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "classes": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "ingredients": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "interactions": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "indications": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "version": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "required": [
          "drugs",
          "classes",
          "ingredients",
          "interactions",
          "indications",
          "version",
          "updatedAt"
        ],
        "additionalProperties": false
      },
      "SimilarDrugResult": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string",
            "minLength": 1,
            "pattern": "^[a-z0-9][a-z0-9-]*$"
          },
          "name": {
            "type": "string"
          },
          "score": {
            "type": "number"
          },
          "className": {
            "type": "string"
          }
        },
        "required": [
          "slug",
          "name",
          "score"
        ],
        "additionalProperties": false
      },
      "BrandEntry": {
        "type": "object",
        "properties": {
          "brand": {
            "type": "string"
          },
          "drugs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DrugRef"
            }
          }
        },
        "required": [
          "brand",
          "drugs"
        ],
        "additionalProperties": false
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "kind": {
            "type": "string",
            "enum": [
              "drug",
              "ingredient",
              "class"
            ]
          },
          "description": {
            "type": "string"
          }
        },
        "required": [
          "slug",
          "name",
          "kind"
        ],
        "additionalProperties": false
      },
      "DrugListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DrugSummary"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        },
        "required": [
          "items",
          "pagination"
        ],
        "additionalProperties": false
      },
      "ClassListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DrugClass"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        },
        "required": [
          "items",
          "pagination"
        ],
        "additionalProperties": false
      },
      "IngredientListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ingredient"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        },
        "required": [
          "items",
          "pagination"
        ],
        "additionalProperties": false
      },
      "DrugInteractionsResponse": {
        "type": "object",
        "properties": {
          "drug": {
            "$ref": "#/components/schemas/DrugRef"
          },
          "interactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Interaction"
            }
          },
          "total": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "drug",
          "interactions",
          "total"
        ],
        "additionalProperties": false
      },
      "SimilarDrugsResponse": {
        "type": "object",
        "properties": {
          "drug": {
            "$ref": "#/components/schemas/DrugRef"
          },
          "method": {
            "type": "string",
            "const": "tanimoto-2d-fingerprint"
          },
          "similar": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SimilarDrugResult"
            }
          },
          "total": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "drug",
          "method",
          "similar",
          "total"
        ],
        "additionalProperties": false
      },
      "ClassDetailResponse": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string",
            "minLength": 1,
            "pattern": "^[a-z0-9][a-z0-9-]*$"
          },
          "name": {
            "type": "string"
          },
          "kind": {
            "$ref": "#/components/schemas/DrugClassKind"
          },
          "code": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "parent": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/DrugClassParent"
              },
              {
                "type": "null"
              }
            ]
          },
          "drugCount": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "provenance": {
            "$ref": "#/components/schemas/Provenance"
          },
          "drugs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DrugSummary"
            }
          }
        },
        "required": [
          "slug",
          "name",
          "kind",
          "drugCount",
          "provenance",
          "drugs"
        ],
        "additionalProperties": false
      },
      "BrandsResponse": {
        "type": "object",
        "properties": {
          "brands": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BrandEntry"
            }
          },
          "total": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "brands",
          "total"
        ],
        "additionalProperties": false
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchResult"
            }
          },
          "total": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "query",
          "results",
          "total"
        ],
        "additionalProperties": false
      }
    }
  }
}
